*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

body{
    font-family: sans-serif;
}

.navmain{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:58%;
    margin-bottom: 25px;
}

.img{
    padding-top: 3%;
    padding-left: 0%;
}

.navlist{
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    gap: 12%;
    color:  hsl(236, 13%, 42%);
}

.main {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.main1{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 70%;
    gap: 16%;
}

.img1{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    margin-bottom: -20px;
}

.text1{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    gap: 25%;
    margin-top: 1;
}

.bright{
    display: flex;
    flex-direction: column;
    height: 31vh;
    width: 30%;
    color: hsl(240, 100%, 5%);
   
}

.we{
    display: flex;
    flex-direction: column;
    height: 31vh;
    width: 50%;
   
}


.text2{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 75%;
    font-size: small;
    margin-bottom: -90px;
    color: hsl(236, 13%, 42%);
    
}

.button{
    display: flex;
    flex-direction: column;
    height: 5vh;
    width: 36%;
    background-color: hsl(5, 85%, 63%);
    color:  hsl(240, 100%, 5%);
    border: none;
    justify-content: center;
    letter-spacing: 2px;
   
  
}

.main2{
    display: flex;
    flex-direction: column;
    background-color:  hsl(240, 100%, 5%);
    height: 63vh;
    width: 60%;
}


.new{
    display: flex;
    color:  hsl(35, 77%, 62%);
    margin-top: 20px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.vs{
    display: flex;
    margin-top: 15px;
    margin-left: 12px;
    color:  hsl(36, 100%, 99%);
}


.will{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 12px;
    color:  hsl(233, 8%, 79%);
    font-size: small;
    width:250px;
}

.white-line {
    border: none;              
    height: 1px;               
    background-color:  hsl(233, 8%, 79%); 
    width: 90%;               
    margin-top: 30px ;  
    margin-left: 12px;          
}


.the{
    display: flex;
    margin-top: 40px;
    margin-left: 12px;
    color:  hsl(36, 100%, 99%);
}


.what{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 12px;
    color:  hsl(233, 8%, 79%);
    font-size: small;
    width:250px;
}

.white-line2 {
    border: none;              
    height: 1px;               
    background-color:  hsl(233, 8%, 79%); 
    width: 90%;               
    margin-top: 30px ;  
    margin-left: 12px;          
}

.is{
    display: flex;
    margin-top: 40px;
    margin-left: 12px;
    color:  hsl(36, 100%, 99%);
}


.private{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 12px;
    color:  hsl(233, 8%, 79%);
    font-size: small;
    width:250px;
}


.last{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
 
}

.last1{
    width: 30%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.retro{
    width: 30%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.retrotext1{
    display: flex;
    flex-direction: column;
    color: hsl(5, 85%, 63%);
     gap: 4%;
}


.retrotext1 h4{
    color:  hsl(240, 100%, 5%);
}


.retrotext1 h15{
    display: flex;
    flex-direction: column;
    font-size: small;
    color: hsl(236, 13%, 42%);
    width: 80%;
   
}

.menu-btn {
    display:none;
    margin-top: 25px;
}



.sidebar {
    top: 0;
    width: 70%;
    position:fixed;
    z-index: 1000;
    height: 100vh;
    background-color: white;
    right: -100%;
    transition: right 0.3s ease-in-out;
   
}

.sidebar.active {
    right: 0;
}
.overlay{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.overlay.active{
    display: block;
}
.close-menu {
    position: absolute;
    right: 5px;
}

.side-list {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:768px) {

    .menu-btn {
        display: block;
    }

    #container{
        width: 90%;
        height: auto;
    }

    .close-menu{
        margin-top: 25px;
        margin-right: 30px;
    }

    .side-list{
        margin-top: 100px;
        margin-left: 20px;
        gap:30px;
        font-size: larger;

    }
    .navmain{
        gap: 0;
        justify-content: space-between;
    }

    .navlist{
        gap: 0%;
        display: none;
    }

    .main {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 60px;
    }

    .main1{
        height: auto;
        width: 100%;
        gap: 16%;
    }

    .img1{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-bottom: 30px;
    }

    .text1{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .bright{
        height: auto;
        width: 100%;
    
    }

    .we{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    
    }


    .text2{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-bottom: 30px;
        
    }


    .main2{
        height: auto;
        width: 100%;
        padding-bottom: 30px;
    }


    .last{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .last1{
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .retro{
        width: 30%;
    }
}